* {
	margin: 0px;
	padding: 0px;
	font-family:"Maison Neue Book", Helvetica, Arial, Sans-Serif, sans-serif !important; 
	font-size-adjust:0,75; 
	font-weight:300; 
	font-style:normal;	
}

body {
	font-family:"Maison Neue Book", Helvetica, Arial, Sans-Serif, sans-serif !important; 
	font-size-adjust:0,75; 
	font-weight:300; 
	font-style:normal;	

	font-size: 16px;
	line-height: 24px;
}

p, ol, ul, td {
	font-size: 16px !important;
	line-height: 24px !important;
}

/* different panes */

#site-container {
	overflow: hidden;
}

#landing {
}

#about, #archive, #landing, #shop {
	float: left;
}


/* header */

#header { 
	position: fixed;
	width: 100%;
	padding: 40px 40px;

	z-index: 1000000;

}

#header h2, #header div, #header ul, #header li {
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
}

#header ul {
	width: 920px;
}

#header h2 {
	font-size: 16px;
}

#header li a {
	font-family:"Maison Neue Bold", Helvetica, Arial, Sans-Serif, sans-serif !important; 
	font-size-adjust:0,75; 
	font-weight:900; 
	font-style:normal;		

	margin: 0px 5px;
	padding-bottom: 7px;
	text-decoration: none;	

	cursor: pointer;
}

#header li a.activeTitle {
	background: transparent url(/images/wavy-line.png) bottom left repeat-x;
}

#header li a:hover {
	background: transparent url(/images/wavy-line-animate.gif) bottom left repeat-x;
	color: red;
}

#header li {
	float: left;
}

#header li#right-space {
	margin-left: 317px;
}

#header li.spacer {
	padding: 0px 10px;
}

/* home page */


#index {
	position: absolute;
	top: 90px;
	left: 40px;
	width: 920px;
}


#desc {
	margin: 60px 0px;
	padding: 30px 0px;
	width: 815px;

	border-top: 1px solid #333;
}

#desc p {
	font-family:"Maison Neue Mono", Helvetica, Arial, Sans-Serif, sans-serif !important; 
	font-size-adjust:0,75; 
	font-weight:300; 
	font-style:normal;	

	line-height: 30px !important;

	width: 715px;

}


/* list of articles */


#reference_title {
	width: 815px;
	border-bottom: 1px solid #333;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

#index ul, #reference_title {
	font-family:"Maison Neue Bold", Helvetica, Arial, Sans-Serif, sans-serif !important; 
	font-size-adjust:0,75; 
	font-weight:900; 
	text-decoration: none;

	font-size: 16px;

	list-style-type: none;
	margin: 5px 0px;
}

#index ul {
	width: 815px;
}

#index ul li {
	width: 50%;
	float:left;
	display:inline;
	
	padding: 10px 0px;
}

#index ul a{
	color: black;
	padding: 0px;
	font-size: 16px;
	float: left;
	border-bottom: 1px solid #333;
	text-decoration: none;	
}

#index ul a:hover{
	color: red;
	background: transparent;
	border-bottom: 1px solid transparent;
}

.list-category {
	text-transform: uppercase;
	letter-spacing: .05em;
	font-size: 12px;
	width: 90px;
	display: block;
	float: left;
}

.list-tags{
	font-size: 12px;
	display: block;
	float: left;
	padding-left: 5px;
}


/* hiding and showing articles */

.close {
	position: fixed;
	top: 100px;
	left: 120px;
	cursor: pointer;
	border-bottom: 1px solid #333;
	color: black;
	padding: 0px;	
	font-weight: bold;

	font-family:"Maison Neue Bold", Helvetica, Arial, Sans-Serif, sans-serif !important; 
	font-size-adjust:0,75; 
	font-weight:900; 
	font-style:normal;	

}

.close:hover {
	color: red;
	border: none;
	text-decoration: none;
}

/* items */

article {
	border: 1px dotted white;
	width: 100%;
	position: relative;
	display: none;

	background: rgba(255,255,255,.95);

	-webkit-transition:all 0.3s;

}


/*.screens {
	width: 100%;
	overflow: hidden;
}

.screen {
	float: left;
	clear: left;
	border: 1px dotted red;
	display: block;	
}
*/

.content {
	margin: 200px 120px 20px 120px;
}

.title {
	margin-left: -5px;

	font-size: 80px;
	line-height: 80px;
	text-align: left;
	width: 800px;
	padding-right: 0px;

	font-family:"Maison Neue Bold", Helvetica, Arial, Sans-Serif, sans-serif !important; 
	font-size-adjust:0,75; 
	font-weight:900; 
	font-style:normal;	

/*	display: inline;
*/	/*background: transparent url(/images/wavy-line.png) bottom left repeat-x;*/

}

.category {
	margin-top: 20px;
	text-transform: uppercase;
	letter-spacing: .05em;

	font-family:"Maison Neue Mono", Helvetica, Arial, Sans-Serif, sans-serif !important; 
	font-size-adjust:0,75; 
	font-weight:300; 
	font-style:normal;	
}

.copy {
	font-size: 15px;
	line-height: 24px;
	margin: 20px 0px 40px 0px;
	width: 800px;
	float: left;

	font-family:"Maison Neue Book", Helvetica, Arial, Sans-Serif, sans-serif !important; 
	font-size-adjust:0,75; 
	font-weight:300; 
	font-style:normal;	

	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;

	-moz-column-gap:40px; /* Firefox */
	-webkit-column-gap:40px; /* Safari and Chrome */
	column-gap:40px;

}

.tags {
	list-style-type: none;

	width: 100px;
	margin: 20px 20px 40px 20px;	
	float: left;


}

.tags li{
	margin-bottom: 5px;

	font-family:"Maison Neue Mono", Helvetica, Arial, Sans-Serif, sans-serif !important; 
	font-size-adjust:0,75; 
	font-weight:300; 
	font-style:normal;	

	font-size: 12px;

}

.image-holder {
	margin: 20px 0px 0px 0px;	
}

.image-holder img{
	max-width: 600px;
	height: auto;
}

.views {
	margin: 20px 0px 0px 0px;
}

/* arrows */

.forward, .backward {
	display: block;
	position: fixed;
	margin-top: -25px;
	top: 50%;
	height: 50px;	
	width: 50px;
	
	font-size: 24px;
	line-height: 50px;
	text-align: center;

	opacity: .5;

	cursor: pointer;
}

.forward:hover, .backward:hover {
	opacity: 1;
}

.forward {
	right: 20px;
}

.backward {
	left: 20px;
}

.next-title, .prev-title {
	font-size: 12px;
	line-height: 14px;
	position: absolute;
	background: black;
	color: white;
	text-align: left;
	display: none;
}

.title-padding {
	padding: 10px 20px 10px 10px;

}

.next-title {
	right: 0px;
}

.prev-title {
	left: 0px;
}


/* archive */

#covers {
	padding: 130px 15px;
}

#covers li {
	width: 182px;
	height: 265px;
	background: url(/images/issues-small/1.jpg) top left no-repeat;
	display: block;
	float: left;
	margin: 9px;
	font-size: 11px;
	text-align: center;
}

#covers li img{
	width: 132px;
	margin: 20px;
	height: auto;

	box-shadow: 0px 0px 20px #888888;	
}

.issue-edition {
	padding: 0px 15px;
	margin-top: -5px;
	line-height: 14px !important;
	font-size: 12px !important;
	display: block;
}

.bottom-space {
	clear: both;
	height: 100px;
}

/* order page */

#shop-images {
	margin: 150px 40px 200px;
	display:none ;

	-webkit-transition:all 0.3s;

}

#shop-images img{
	height: 450px;
	width: auto;
	box-shadow: 0px 0px 45px #333333;	
	display: block;

	margin-bottom: 50px;

	z-index: 1;
}


.transparency-div {
	width: 582px;
	height: 450px;

	z-index: 10000;
	margin-top: -500px;

	position: relative;

}

.img-spacer {
	height: 50px;
}

#order-desc {
	position: fixed;
	top: 150px;
	left: 650px;
	width: 170px;

	font-size: 12px;

	display: none;

	margin-bottom: 10px;
}

#order-desc p{
	margin-bottom: 10px;
}

#order-desc li{
	list-style-type: none;
	margin-bottom: 0px;

	font-size: 12px;
}


#order-desc b{
	font-family:"Maison Neue Bold", Helvetica, Arial, Sans-Serif, sans-serif !important; 
	font-size-adjust:0,75; 
	font-weight:900; 
	font-style:normal;	

}


#download {
	margin-top: 10px;
}

#pod {
	margin-top: 15px;
}

#pod a, #download a{
	border: 3px solid black;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 5px 28px;
	text-decoration: none;
}

#download a {
	padding: 5px 12px;
}

#download a:hover, #pod a:hover {
	background: transparent;
}

.description {
	margin: 0px 5px 10px 0px;
	font-size: 12px;

	-webkit-transition:all 0.3s;

}

#button {
	margin-left: 0px;
}


/* footer */

#footer {
	position: fixed;
	width: 100%;
	padding: 0px 40px;
	bottom: 20px;

	z-index: 1000000;

	font-family:"Maison Neue Book", Helvetica, Arial, Sans-Serif, sans-serif !important; 
	font-size-adjust:0,75; 
	font-weight:300; 
	font-style:normal;
}

/* circles */

#circles {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
}

#circle{
	width: 100px;
	height: 40px;
	padding: 35px 0px 25px;
	background: yellow;

	font-size: 16px;
	text-align: center;
	text-decoration: underline;

	font-family:"Maison Neue Mono", Helvetica, Arial, Sans-Serif, sans-serif !important; 
	font-size-adjust:0,75; 
	font-weight:300; 
	font-style:normal;	

	-webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);		

	-webkit-transform: rotate(7.5deg);  /* Chrome, Safari 3.1+ */
	-moz-transform: rotate(7.5deg);  /* Firefox 3.5-15 */
	-ms-transform: rotate(7.5deg);  /* IE 9 */
	-o-transform: rotate(7.5deg);  /* Opera 10.50-12.00 */
	transform: rotate(7.5deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */

}


#circle:hover{
	cursor: pointer;
	color: white;
	background-color: red;
	text-decoration: none;
}
/* useful */


.clear {clear: both;}

.show {
	display: block !important;
}
